@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Campaing-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

textarea {
    height: 150px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    background-color: #2c7bef;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the previewed images */
.preview-image {
    max-width: 100%;
    max-height: 200px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
